<div class="window-component">
    <div class="title-bar">
        <h1 class='title-text'>{{title}}</h1>
    </div>
    <div class="outer-component">
        <nav class='side-nav'>
            <!-- TODO: *ngFor over a list -->
            <a routerLink='/dashboard'>Home</a>

            <!--
            <a routerLink='/player-registration'>Player Registration</a>
            -->

            <a routerLink='/schedule'>Schedule</a>

            <!--
            <a routerLink='/game-status'>Game Status</a>
            <a routerLink='/teams'>Teams</a>
            <a routerLink='/roster'>Roster</a>
            -->

            <a routerLink='/standings'>Standings</a>
            <a routerLink='/player-stats'>Player Stats</a>
            <a routerLink='/goalie-stats'>Goalie Stats</a>

            <!--
            <a routerLink='/career-stats'>Career Stats</a>
            <a routerLink='/hot-streaks'>Hot Streaks</a>
            <a routerLink='/team-stats'>Team Stats</a>
            <a routerLink='/team-leaders'>Team Leaders</a>
            <a routerLink='/head-to-head'>Head to Head</a>
            <a routerLink='/upcoming-events'>Upcoming Events</a>
            <a routerLink='/arena-maps'>Arena Maps</a>
            -->

            <a routerLink='/rules-regulations'>Rules and Regulations</a>
            <a routerLink='/contact-info'>Contact Info</a>
        </nav>
        <div class='component-view'>
            <router-outlet></router-outlet>
        </div>
    </div> </div>
