.standings-component {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.standings-table {
    overflow: auto;
    height: 750px;
}

table {
    width: 100%;
}

.table-header {
    background-color: white;
}
